@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 250, 250;
}

body {
  color: rgb(var(--foreground-rgb));
}

.Toastify__toast {
  outline: 1px solid #fafafa !important;
}

.toast-background {
  background-color: #18181b !important;
}

.Toastify__close-button {
  color: #fafafa !important;
}

.Toastify__toast-body {
  color: #fafafa !important;
}
